@model ERP.Web.Service.ViewModels.ControllerSetting.AccessGroupSearchListViewModel_result
@if (Model != null && Model.List != null && Model.List.Any())
{
    <table class="footable table table-stripped toggle-arrow-tiny">
        <thead>
            <tr>
                <th data-sort-ignore="true">群組名稱</th>
                <th data-sort-ignore="true">群組描述</th>
                <th data-sort-ignore="true">操作</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.List)
            {
                <tr>
                    <td>
                        @* 有編輯權限：顯示連結 *@
                        <a permission-check="ControllerSetting.TreeDataMaintain" 
                           asp-action="TreeDataMaintain" 
                           asp-route-id="@item.ID">@item.GroupName</a>
                    </td>
                    <td>
                        @item.GroupDesc
                    </td>
                    <td>
                        @* 刪除按鈕 - 需要 DeleteAccessGroup 權限 *@
                        <a permission-check="ControllerSetting.DeleteAccessGroup" 
                           class="label" 
                           onclick="DeleteAccessGroup('@item.ID')"
                           style="cursor:pointer;">刪除</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div class="text-center">
        <h3>查無資料</h3>
    </div>
}
