<div class="modal fade" id="IconClassPreview" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-xxl" role="document">
        <div class="modal-content container-lg couponForm">

            <div class="modal-header" style="border: 0;">
            </div>

            <div class="modal-body">
                <div class="couponFormHead mt-4">


                </div>
                <div id="main-body">
                </div>
            </div>
        </div>
    </div>
</div>