@model ERP.Web.Service.ViewModels.ControllerSetting.ControllerSettingDataMaintainViewModel_result

<!-- Select2 CSS -->
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />

<div class="wrapper wrapper-content animated fadeIn">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-content">
                    <form id="ControllerDataMaintainForm" method="post" onkeydown="return event.keyCode != 13;" action="/ControllerSetting/ControllerDataMaintain" novalidate="novalidate">
                        <div class="row">
                            <div class="col-sm-12 col-form-label font-weight-bold text-right">
                                維護人日：
                                <span>廖家毅 資訊部-系統開發課</span>
                            </div>
                        </div>
                        <div class="row">
                            <label for="StationMainID" class="col-sm-2 col-form-label font-weight-bold text-sm-right">站台<span class="text-danger">*</span></label>
                            <div class="col-sm-10">
                                <select asp-for="@Model.StationMainID" asp-items="@Model.StationListItem" class="form-control form-control-sm" style="width:100%">
                                    <option value="">請選擇</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <label for="DisplayName" class="col-sm-2 col-form-label font-weight-bold text-sm-right">顯示名稱<span class="text-danger">*</span></label>
                            <div class="col-sm-10">
                                <input class="form-control form-control-sm" type="text" id="DisplayName" name="DisplayName" value="">
                            </div>
                        </div>
                        <div class="row">
                            <label for="Controller" class="col-sm-2 col-form-label font-weight-bold text-sm-right">控制器名稱</label>
                            <div class="col-sm-10">
                                <input class="form-control form-control-sm" type="text" id="Controller" name="Controller" value="">
                            </div>
                        </div>
                        <div class="row">
                            <label for="ActionName" class="col-sm-2 col-form-label font-weight-bold text-sm-right">活動名稱</label>
                            <div class="col-sm-10">
                                <input class="form-control form-control-sm" type="text" id="ActionName" name="ActionName" value="">
                            </div>
                        </div>
                        <div class="row">
                            <label for="HttpMethod" class="col-sm-2 col-form-label font-weight-bold text-sm-right">使用方法</label>
                            <div class="col-sm-10">
                                <select class="form-control form-control-sm" id="HttpMethod" name="HttpMethod">
                                    <option value=""></option>
                                    <option value="Get">Get</option>
                                    <option value="Post">Post</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <label for="ParentControllerMainID" class="col-sm-2 col-form-label font-weight-bold text-sm-right">父層級<span class="text-danger">*</span></label>
                            <div class="col-sm-10">
                                <select class="form-control form-control-sm" id="ParentControllerMainID" name="ParentControllerMainID">
                                    <option value=""></option>
                                    <option value="00000000-0000-0000-0000-000000000000">第一層(Level1)</option>
                                    <option value="99606743-e11f-4017-a931-bd63391f8172">Discount SearchList Get 折價券資料</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <label for="PageNumber" class="col-sm-2 col-form-label font-weight-bold text-sm-right">選單頁<span class="text-danger">*</span></label>
                            <div class="col-sm-10">
                                <select class="form-control form-control-sm" id="PageNumber" name="PageNumber">
                                    <option value=""></option>
                                    <option value="0">0</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <label for="IconClass" class="col-sm-2 col-form-label font-weight-bold text-sm-right">文字前面的Icon Class</label>
                            <div class="col-sm-10">
                                <input class="form-control form-control-sm" type="text" id="IconClass" name="IconClass" value="">
                            </div>
                        </div>
                        <div class="row">
                            <label for="FrontNumber" class="col-sm-2 col-form-label font-weight-bold text-sm-right">文字前面的編碼</label>
                            <div class="col-sm-10">
                                <input class="form-control form-control-sm" type="text" id="FrontNumber" name="FrontNumber" value="">
                            </div>
                        </div>
                        <div class="row">
                            <label for="Sort" class="col-sm-2 col-form-label font-weight-bold text-sm-right">排序<span class="text-danger">*</span></label>
                            <div class="col-sm-10">
                                <input type="number" min="0" class="form-control form-control-sm" id="Sort" name="Sort" value="">
                            </div>
                        </div>
                        <div class="row">
                            <label for="IsMenu" class="col-sm-2 col-form-label font-weight-bold text-sm-right">是否顯示在Menu<span class="text-danger">*</span></label>
                            <div class="col-sm-10">
                                <select class="form-control form-control-sm" id="IsMenu" name="IsMenu">
                                    <option value=""></option>
                                    <option value="true">是</option>
                                    <option value="false">否</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <label for="isBlank" class="col-sm-2 col-form-label font-weight-bold text-sm-right">麵包屑功能方式Menu<span class="text-danger">*</span></label>
                            <div class="col-sm-10">
                                <select class="form-control form-control-sm" id="isBlank" name="isBlank">
                                    <option value="1" selected="">導頁</option>
                                    <option value="2">另開</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <label for="ControllerDesc" class="col-sm-2 col-form-label font-weight-bold text-sm-right">敘述<span class="text-danger">*</span></label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control form-control-sm" id="ControllerDesc" name="ControllerDesc" value="">
                            </div>
                        </div>
                        <div class="row text-right" style="margin-top:10px;">
                            <div class="col">
                                <button id="SaveBtn" class="btn btn-success btn-sm" type="submit"><i style="width:12px;" class="fa fa-save"></i> 存檔</button>
                                <button class="btn btn-default btn-sm" type="button" onclick="window.location.href='/Setting/ControllerSearchList'"><i style="width:12px;" class="fa fa-times"></i> 取消</button>
                            </div>
                        </div>
                        <input name="__RequestVerificationToken" type="hidden" value="CfDJ8...">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- jQuery + Select2 -->
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

<script>
    $(function () {
        // 套用全部 select
        $('select').select2({
            placeholder: "請選擇",
            allowClear: true,
            width: '100%'
        });
    });
</script>


