@model ERP.Web.Service.ViewModels.SeatMapViewModel_result
@using ERP.Web.Service.Helper

<link href="~/css/seatmap/public.css" rel="stylesheet" />
<link href="~/css/vueslider.css" rel="stylesheet" />
<!-- Font Awesome 6 (Free) -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" rel="stylesheet">
@{
    var maxRow = 10;
    var maxCol = 10;
    if (Model.SeatMap.Count() > 0)
    {
        maxRow = Model.SeatMap.Max(x => int.Parse(x.Row.ToString()));
        maxCol = Model.SeatMap.Max(x => int.Parse(x.Col.ToString()));
        maxRow = (maxRow == null || maxRow < 10) ? 10 : maxRow;
        maxCol = (maxCol == null || maxCol < 10) ? 10 : maxCol;
    }

    //var staticSeatMap = new List<dynamic> {
    //    new { Row = 1, Col = 1, Colorcode = "#FFD700", Status = "using", BoxNumber = "台北", Location = "台北", TicketID = "T01A5AA00" ,Border ="TopBorder LeftBorder"},
    //    new { Row = 2, Col = 2, Colorcode = "#90EE90", Status = "using", BoxNumber = "台北", Location = "台北", TicketID = "T02B50A24",Border ="DownBorder LeftBorder"},
    //};

    var previousEmpNames = new Dictionary<string, int>();
}
<style>
    .seat.IsUsing {
        position: relative; /* 必須加，讓 ::after 定位 */
    }

        .seat.IsUsing::after {
            content: "\f6c0"; /* FontAwesome 的 fa-chair */
            font-family: "Font Awesome 6 Free";
            font-weight: 900; /* solid 版本要加這個 */
            position: absolute;
            left: 4px; /* 靠右下角 */
            top: 6px;
            font-size: 12px; /* 椅子大小 */
            color: #1e3050; /* 椅子顏色，可以依需要調整 */
        }
</style>
<div id="app" class="row">
    <div class="w-8 d-flex" style="align-items: center;">
        <label class="col-sm-8 col-form-label font-weight-bold text-sm-right p-1">新增障礙物</label>
        <div id="Stuff" class="col-sm-4 app p-1">
            <label>
                <input id="IsStuff" type="checkbox" v-model="IsStuff" value="false" />
                <span class="slider"></span>
            </label>
        </div>
    </div>
    <div class="w-8 d-flex" style="align-items: center;">
        <label class="col-sm-8 col-form-label font-weight-bold text-sm-right p-1">新增座位</label>
        <div id="Stuff" class="col-sm-4 app p-1">
            <label>
                <input id="IsUsing" type="checkbox" v-model="IsUsing" value="false" />
                <span class="slider"></span>
            </label>
        </div>
    </div>
    <div class="w-8 d-flex" style="align-items: center;">
        <label class="col-sm-8 col-form-label font-weight-bold text-sm-right p-1">新增走道</label>
        <div id="Stuff" class="col-sm-4 app p-1">
            <label>
                <input id="IsRoad" type="checkbox" v-model="IsRoad" value="false" />
                <span class="slider"></span>
            </label>
        </div>
    </div>
</div>
<div class="ibox">
    <div class="ibox-content" style="background-color:black">
        <div class="row justify-content-start">
            <div class="d-flex align-items-center">
                <div class="col-sm-6 px-0 py-1">
                    <div>XXX</div>
                </div>
                <label class="col-sm-6 col-form-label font-weight-bold text-sm-left p-1">分公司</label>
            </div>
        </div>

        <div class="seat-map mt-4">
            @for (int i = 1; i <= maxRow + 1; i++)
            {
                var letterSequence = await Helpers.GetLetterSequence(i);
                <div class="d-flex align-items-center justify-content-center">
                    @if (i == 1)
                    {
                        @for (int j = 1; j <= maxCol; j++)
                        {
                            <div class="solid" style="position: relative">
                                <i class="fa-solid fa-sort-down fa-xl fa-unselected" data-status="unused" data-col="col_@(j)" style="position: absolute;visibility:hidden"></i>
                                <span style="display: block;">@(j)</span>
                            </div>
                        }
                    }
                    else
                    {
                        <div class="solid">
                            <span>@letterSequence</span>
                            <i class="fa-solid fa-caret-right fa-xl fa-unselected" style="visibility:hidden" data-status="unused" data-row="row_@(i - 1)"></i>
                        </div>

                        @for (int j = 1; j <= maxCol; j++)
                        {
                            var item = Model.SeatMap.FirstOrDefault(x => x.Row == i && x.Col == j);
                            <div class="seat" style="background-color:@item?.Colorcode ;color:lightgrey"
                                 data-status="@item?.Status"
                                 data-Border="@item?.Border"
                                 data-sign="@letterSequence@j"
                                 data-TicketID="@item?.TicketID"
                                 data-rowcol="row_@(i - 1)&col_@(j)">
                                @if (item != null)
                                {
                                    <div style="text-align: center;">
                                        @if (item.Border.Contains("Admin"))
                                        {
                                            <span>@letterSequence@j @item?.Border</span>
                                            previousEmpNames[item?.TicketID] = previousEmpNames.ContainsKey(item?.TicketID)
                                            ? previousEmpNames[item?.TicketID] + 1
                                            : 1;
                                        }
                                        else
                                        {
                                            if (item.Status == "IsUsing")
                                            {

                                                <span class="TicketID" style="position: absolute; bottom: 2px; left: 4px; font-size: 6px; font-weight: bold;">
                                                    A2508170001
                                                </span>


                                                <span class="SeatSign" style="position: absolute; top: 4px; right: 4px; font-size: 12px;">
                                                    @letterSequence@j
                                                </span>
                                            }
                                            else
                                            {

                                                <span class="TicketID" style="font-size:8px">@item.TicketID</span>
                                                <span>@letterSequence@j</span>
                                            }

                                        }
                                    </div>
                                }
                                else
                                {
                                    <div style="text-align: center;">
                                        <span>@letterSequence@j</span>
                                    </div>
                                }
                            </div>
                        }
                        <div class="solid">
                            <span>@letterSequence</span>
                            <i class="fa-solid fa-caret-right fa-xl fa-unselected" style="visibility:hidden" data-status="unused" data-row="row_@(i - 1)"></i>
                        </div>
                    }
                </div>
            }
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="~/js/seatmap/public.js"></script>
<script src="~/js/seatmap/datamaintain.js"></script>
<script>

</script>
