.slider {
    position: relative;
    display: inline-block;
    width: 36px;
    height: 19px;
    border-radius: 19px;
    background-color: #ccc;
    transform: translateY(8px);
}

    .slider:before {
        position: absolute;
        content: "";
        height: 15px;
        width: 15px;
        left: 2px;
        bottom: 2px;
        background-color: white;
        transition: all 0.2s;
        border-radius: 50%;
    }

input:checked + .slider {
    background-color: #2196f3;
}

    input:checked + .slider:before {
        transform: translateX(17px);
    }

.app input[type="checkbox"] {
    display: none;
}

.OXcheck {
    display: none;
}
